<div>
  <table border="0" width="1000" bgcolor="cornflowerblue">
    <tr>
      <td><%=image_tag(current_user.avtar.url(:thumb))%></td>

      <td align="right">
      <th style="font-size: 50px ">Welcome
        <%=current_user.firstname%>
      </th>
      </td>
    </tr>

  </table><br/><br/>
</div>
<div style="float:left;width:15%">

 <%= link_to " Profile", show_profile_path(current_user.id) %><br/><br/>
  <%= link_to "Edit profile", edit_profile_path(current_user.id) %><br/><br/>
  <%= link_to "All Friends", all_friends_path(current_user.id) %><br/><br/>
  <%= link_to "Events",event_list_path %><br/><br/>
  <%= link_to "log out",destroy_user_session_path,:method=>:delete %>
</div>

<div style="float:left;width:50%">
  <%=form_for @post,:url=>{:action=>"index"},:remote=>true do |u|%>
    <%=u.hidden_field :user_id,:value=>current_user.id,:method=>:post%>
    <%=u.text_field :message,:placeholder => 'whats in your mind?',:size=>35%>
    <%=u.submit :Share%><br/><br>
  <%end%>

  <div id="posts">
    <%@posts.each do |post|%>
      <%= render :partial => "post", :locals => {:post => post} %>
    <%end%>
  </div>

</div>

<div  style="float:right;width:33%;background-color: bisque">
<br/><div align="center"><%= link_to "All Users", all_user_path(current_user.id),:id=>"all_user_link",:remote=>true %><br/></div>

<script type="text/javascript">
      $(document).ready(function() {
      $("#all_user_link").click(function(){
      $("#all_user_form").slideToggle();
     });
  });
</script>
<div id="all_user_form">
</div>
<div id="hide_user">
  </div>
</div>