<div align="center"><h1>Create Event</h1></div>


<table  border="0" >
<tr>
<%=form_for(@event,:url=>{:controller=>"event",:action=>"create_event"}) do |event| %>
<td><%=event.label :Event_Name%></td>
<td><%=event.text_field :name%></td>
<td><%=event.label :Location%></td>
<td><%=event.text_field :location%></td>
</tr>
<tr>
<td><%=event.label :Started_at%></td>
<td><%=event.datetime_picker :started_at,:dateFormat => "yy-mm-dd"%></td>
<td><%=event.label :Ended_at%></td>
<td><%=event.datetime_picker :ended_at,:dateFormat=>"yy-mm-dd"%></td>
<%=event.hidden_field :creator_id,:value=>current_user.id,:method=>:post%>
<%#=link_to "select friends",select_friends_path%>
</tr>
</table>
<br/><br/>
<div align="center"><h2>Invite Friends for Event</h2></div>

<table align="center">
<th1>All Friends</th1>
<tr>
  <td>
    <div style="overflow: scroll;height: 300px;width: 600px">
 <%@friends.each do |friend|%>
<%=render :partial=>"friends/all_friends",:locals=>{:friend=>friend}%>
<%=fields_for "event[eventusers_attributes][]",Eventuser.new do |field|%>
<%=field.check_box :user_id,{},friend.id%>
<%end%>
    <%end%>
</div>
    </td>
</tr>
<th2>(<%=@cnt%>)</th2><br/><br/>
 </table>
<div align="center"><br/><%=event.submit "Create Event"%><br/></div>
<%end%>

